.header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(
      90deg,
      hsla(154, 100%, 76%, 1) 0%,
      hsla(234, 100%, 83%, 1) 50%,
      hsla(288, 100%, 81%, 1) 100%
    );
    width: 100%;
    height: 80px;
    align-items: center;
  }

  .header__img {
    width: 150px;
    padding-top: 45px;
    margin: 20px;
    outline: none;
  }

  .header__img:hover {
    transform: scale(1.3);
  }

  .header__menu {
    margin-right: 30px;
  }

  .header__menu ul {
    display: none;
    position: absolute;
    list-style: none;
    padding: 0px;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
  }

  .header__menu:hover ul,
  ul:hover {
    display: block;
    cursor: pointer;
  }

  .header__menu li {
    margin: 10px 0px;
  }

  .header__menu li a {
    color: white;
    text-decoration: none;
  }

  .header__menu li a:hover {
    text-decoration: underline;
  }

  .header__menu--profile {
    display: flex;
    margin-right: 8px;
    align-items: center;
  }

  .header__menu--profile img {
    margin-right: 8px;
  }

  .header__menu--profile p {
    margin: 0px;
    color: white;
    outline: none;
  }