@import './Vars.scss';
@import './Media.scss';

body {
    font-family: $theme-font;
    margin: 0;
    background: $main-color;
  }

  .button {
    font-family: 'Mulish', sans-serif;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 25px;
    border: none;
    color: purple;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
  }

  .button:hover {
  transform: scale(1.1);
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #bebdbd38;
  }

  ::-webkit-scrollbar-thumb {
    background: #ffffff48;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ffffffb2;
  }

  .container__notFound {
    display: flex;
    justify-content: center;
  }

  .container__notFound--image img {
    width: 75vh;
    outline: none;
  }
