@media only screen and (max-width: 600px) {
  .header__img {
    width: 100px;
    padding: 15px 0 0 15px;
    margin: 0;
  }

  .header__menu {
    margin-right: 15px;
  }

  .main {
    height: auto;
  }

  .container__notFound--image img {
    width: 43vh;
    margin: 30% 0 25% 0;
  }

  .footer a {
    text-align: center;
    padding-left: 16px;
  }
}
